html, body {
  margin: 0;
  padding:0;
}

body {
display: flex;
flex-direction : column;
align-items: center;
justify-content: center;	
}

#map {
height:400px;
width:100%;
max-width: 800px;
}
